body{

    font: normal 16px Arial;
    background-color: rgb(8, 22, 21);

}

h2{

    font-size: 300%;
    font-style: oblique;
    color: rgb(20, 227, 48);
    text-align: center;

}

p{

    color: rgb(20, 227, 48);
    text-align: left;
    font-style: Arial;
}

h1{

    font-style: oblique;
    color: rgb(20, 227, 48);
    text-align: center;

}

h3{

    font-style: oblique;
    color: rgb(20, 227, 48);
    text-align: left;
    font-size: 150%;

}
